@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    background-color: #FFF8F0;
}

main{
    background-color: #FFEBCD;
    
}

section{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/*NAV/HEADER: START*/
#wrapper{
    width: 85%;
    margin: 0 auto;
}

header{
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: #005247;

}

/*Design för logga istället för bild*/
#titleDesign{
    max-width: 60%;
    padding: 1rem;
    border-radius: 2rem;
    background-color:rgb(6, 114, 91);
    margin: 0 auto;
    padding: 2rem;

    display: flex;
    flex-direction:row;
    justify-content: center;
   

}

/*Ingår i loggan, lite högermarginal mot "Discovery"*/
h1 {
    color: #fff;
    font-size: 5rem;
    margin-right: 1rem;
}

h2{
    font-size: 1.5rem;
}

/*Omfamnar texten "Discovery"*/
#rounded{
    font-size: 3rem;
    font-weight:400;
    color: #fff;
    background-color: #E58902;
    border-radius: 3rem;
    padding: 1.4rem;
    place-self: center;

}


nav{
    background-color:#E58902;
    padding: 1.5rem;
    border-radius: 1rem;

}

nav a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

/*Både hover/focus för att tillgodose användare som inte kan använda mus*/
nav a:hover, nav a:focus{
    color: #FFFF;
    font-weight: 450;
}

/*För större skrämar, se media breakpoint för mobil, ändrar denna till vertikal*/
nav ul{
    font-weight: 350;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
}

/*Se HTML där beroende på vilken sida man besöker så ändras denna taggen i nav*/
#currentPage{
    font-weight: 400; 
    text-decoration:underline;
    
}
/*NAV/HEADER SLUT*/

/*Huvudinnehåll: STARTSTIDA*/

/*Arbetar med grid-struktur för samtliga sidor men har lite olika kolumn/rad struktur beroende på sidornas innehåll.
Finner det enkelt att justera om med media breakpoints för att anpassa innehållet till mindre skärmar
Arbetade på liknande sätt gällande inlämning 2 för CSS*/
#startPage article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#startPage h2{
    grid-row: 1;
    grid-column: span 3;
    font-weight: 400;
    margin-bottom: 1rem;

}

#startPage img{
    grid-row: 2;
    grid-column: 1;
    max-width: 75%;

}

#startPage p{
    font-size: 1.5rem;
    grid-row: 2;
    grid-column: 2 /span 3;

}
/*STARTSTIDA: SLUT*/

/*BLOGG: START*/
#blog article{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: auto auto 2fr;
}

#blog h2{
    grid-column: span 2;
    font-weight: 400;
}
#blog h3{
    grid-row: 2;
}
#blog img{
    grid-row: 3;
    grid-column: 1;
    max-width: 40%;
}
#blog p{
    grid-row: 3;
    grid-column: 2;

}
/*BLOGG: SLUT*/
#startPage img, #blog img{
   place-self: center;

}

#startPage p, #blog p{
    place-self: center;
    padding-left: 1.5rem;

    border-left: 0.05rem;
    border-style: solid;
}

#startPage article, #blog article{
    margin: 2rem 2rem 2rem 2rem;

}

/*CONTACT US: START*/
#contactUs{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: auto auto 2fr;
}

#contactUs h2{
    grid-row: 1;
    grid-column: 1 / span 2;
    margin-bottom: 2rem;
}
#contactUs p{
    grid-row: 2;
    grid-column: 1 / span 2;
}
#contactUs img{
    grid-row: 3;
    grid-column: 1;
    max-width: 100%;
    place-self: center;
}
#contactUs form{
    grid-row: 3;
    grid-column: 2;


}

form {
    padding: 2rem;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 1rem;
}

input,
textarea {
    padding: 0.5rem;
    margin-bottom: 16px;
    border: 0.2rem solid #ccc;
}

button {
    background-color: #E58902;
    color: #fff;
    padding: 0.4rem;
    border: none;
    border-radius: 6rem;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}
/*CONTACT US: SLUT*/

/*Discover Dishes: START*/
#searchByIngridient{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#searchByIngridient h2{
    grid-row: 1;
    grid-column: span 3;
    margin-bottom: 2rem;
}

#searchByIngridient p{
    grid-row: 2;
    grid-column: span 3;
    margin-bottom: 2rem;
}

#searchByIngridient #searchFieldIngridient{
    grid-row: 3;
    grid-column: 1;
    margin: 0;
}
#searchByIngridient #ingridientButtonSubmit{
    grid-row: 3;
    grid-column: 2;
}

#searchByIngridient #randomMealButton{
    grid-row: 3;
    grid-column: 3;

}

#ingridientButtonSubmit{
    max-width: 20%;
    border-radius: 0;
}

#randomMealButton{
    max-width: 20%;
    border-radius: 0;
}


.recipeArticle {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    margin-bottom: 2rem;

}

.recipeArticle .foodTitleSearch {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 1rem;
    
}


.recipeArticle .foodImagesearch {
    grid-row: 2;
    grid-column: 1;
    max-width: 75%;
    border-radius: 3rem;

}

.recipeArticle .reciepeSearch {
    grid-row: 2;
    grid-column: 2;

}
/*Discover Dishes: SLUT*/

/*Global Inspiration: START*/
#searchByCountry img{
    justify-content: space-between;
    max-width: 10%;
    padding: 2rem;
    cursor: pointer;
}

#searchByCountry img:hover{
    opacity: 50%;

}
/*Global Inspiration: SLUT*/


/*FOOTER: START*/
footer{
    padding: 1.5rem;
    background-color:#9CB0A4;
    margin-bottom: 2rem;
    justify-content: center;
    text-align: center;
    
}

footer a{
    color: #000;
    
}

footer a:hover, footer a:focus {
    font-weight: 450;
}

#footerNav{
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
}

#endingTextFooter{
    margin-bottom: 1rem;
}

#footerDiscoverText{
    font-weight: 400;
}

#footerCredits{
    font-size: 0.8rem;
    margin-top: 1rem;
    font-style: italic;
}
/*FOOTER: SLUT*/



/*SKÄRMANPASSNING START*/

/*Mindre skärmar - surfplattor */
@media(max-width: 1020px){

    #wrapper{
        width: 90%; 
    }

    h1 {
        font-size: 4.5rem;
        margin-right: 1rem;
    }

    #rounded{
        padding: 1rem;
    }

    #titleDesign{
        max-width: 85%;
    }

    #titleDesign p{
        font-size: 2rem;
    }

    nav a{
        font-size: 1.2rem;
    }

    section {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }


    #ingridientButtonSubmit, #randomMealButton {
        max-width: 40%;
        border-radius: 0;
    }


}

/*För smartphones, anpassat ner till 320px i bredd. */
@media(max-width: 800px){

    #wrapper{
        width: 100%; 
    }

    h1{
        font-size: 3rem;
        margin-right: 1rem;
    }

    #rounded{
        padding: 1rem;
    }

    #titleDesign{
        max-width: 75%;
    }

    #titleDesign p{
        font-size: 1rem;
    }
    
    /*Gör om navigeringen till att varje sidval nu ligger vertikalt*/
    nav ul{
        flex-direction: column;
        align-items: center;
        
    }

    #startPage p{
        font-size: 1.5rem;
        grid-row: 3;
        grid-column: span 3;
    
    }

    #blog p{
        grid-row: 4;
        grid-column: span 3;
    
    }
    #blog h2{
        font-size: 1rem;
    }

    #blog h3{
        grid-column: span 3;
        font-size: 0.7rem;
    }

    #blog article {
        margin: 1rem 1rem 1rem 1rem;
    }

    #blog img, #startPage img,  .recipeArticle .foodImagesearch{
        max-width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #startPage p, #blog p{
        place-self: center;
        padding-left: 0;
        border-left: 0;
        border-style: solid;
        font-size: 1rem;
    }


    .recipeArticle .reciepeSearch {
        grid-row: 3;
        grid-column: span 3;
    
    }

    #ingridientButtonSubmit{
        margin-right: 0.5rem; 
    }

    #ingridientButtonSubmit, #randomMealButton {
        max-width: 75%;
        border-radius: 0;
        font-size: 0.7rem;
    }

    /*Tyckte inte bilden tillförde särskilt mycket vid liten skärm.*/
    #contactUs img{
        display: none;
    }
    /*När bilden tas bort breddar vi formuläret istället. */
    #contactUs form{
        grid-row: 3;
        grid-column: span 2;
    
    
    }
    


}