@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    background-color: #FFF8F0;
}

#wrapper{
    width: 85%;
    margin: 0 auto;
}

header{
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: #005247;

}

#titleDesign{
    max-width: 60%;
    padding: 1rem;
    border-radius: 2rem;
    background-color:rgb(6, 114, 91);
    margin: 0 auto;
    padding: 2rem;

    display: flex;
    flex-direction:row;
    justify-content: center;
   

}

h1 {
    color: #fff;
    font-size: 5rem;
    margin-right: 1rem;
}

h2{
    font-size: 1.5rem;
}


#rounded{
    font-size: 3rem;
    font-weight:300;
    color: #fff;
    background-color: rgb(247, 135, 8);
    border-radius: 6rem;
    padding: 1.4rem;
}


nav{
    background-color:chocolate;
    padding: 1.5rem;
    margin-bottom: 3rem;
    border-radius: 0.5rem;

}

nav a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

nav a:hover, nav a:focus{
    color: #FFFF;
    font-weight: 450;
}

nav ul{

    font-weight: 350;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
}

#currentPage{

    font-weight: 400; 
    text-decoration:underline;
    
}

main{
    background-color: #FFEBCD;
}

#startPage article{
    display: grid;
    grid-template-columns: 0.1fr, 4fr;
    margin: 3rem 3rem 3rem 3rem;
}

#startPage h2{
    grid-row: 1;
    font-weight: 400;
    place-self: center;
    margin-top: 2rem;

}

#startPage img{
    grid-row: 2;
    grid-column: 1;
    margin-right: 1rem;
    max-width: 50%;
    place-self: center;

}

#startPage p{
    font-size: 1.5rem;
    grid-row: 2;
    grid-column: 2;
    margin: auto 0;
    border-left: 0.05rem;
    border-style: solid;
    padding-left: 2rem; 

}

#blog article{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: auto auto 2fr;
    margin: 3rem;
}

#blog h2{
    grid-column: 1 / span 2;
    font-weight: 400;
}
#blog h3{
    grid-row: 2;
}
#blog img{
    grid-row: 3;
    grid-column: 1;
    max-width: 40%;
    place-self: center;
}
#blog p{
    grid-row: 3;
    grid-column: 2;

    margin: auto 0;
    border-left: 0.05rem;
    border-style: solid;
    padding-left: 2rem; 
}

#contactUs{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: auto auto 2fr;
    margin: 3rem;
}

#contactUs h2{
    grid-row: 1;
    grid-column: 1 / span 2;
}
#contactUs p{
    grid-row: 2;
    grid-column: 1 / span 2;
}
#contactUs img{
    grid-row: 3;
    grid-column: 1;
}
#contactUs form{
    grid-row: 3;
    grid-column: 2;

}


form {
    padding: 2rem;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 1rem;
}

input,
textarea {
    padding: 0.5rem;
    margin-bottom: 16px;
    border: 0.2rem solid #ccc;
}

button {
    background-color: #d88e04;
    color: #fff;
    padding: 0.4rem;
    border: none;
    border-radius: 6rem;
    cursor: pointer;
}

button:hover {
    background-color: #c98c0a;
}


footer{
    padding: 1.5rem;
    background-color: #9CB0A4;
    margin-bottom: 2rem;
    justify-content: center;
    text-align: center;
    
}

footer a:hover, footer a:focus{
    color: #0000;
}

#endingTextFooter{
    margin-bottom: 1rem;
}

#connectFooter{
    font-weight: 400;
}

#footerCredits{
    font-size: 0.8rem;
    margin-top: 1rem;
    font-style: italic;
}